// thanks to sass!

/****  变量定义   ***/

/** 
*   全局 
*/
// 主背景色
$global-background-color: #EFF2F7;
$recovery-color: #9F998A;

/**
*  头部悬浮条 
*/
$topbar-height: 60px;
$topbar-margin-right: 50px;
$topbar-background-color: $recovery-color;
// 左侧小条背景色
$topbar-left-background-color: #897E63;

/**
*  菜单竖栏
*/
$sidebar-width: 200px;
$sidebar-background-color: #545c64;
$sidebar-color: #F2EEEC;
$sidebar-padding-top: 25px;

.sidebar {
    padding-top: $sidebar-padding-top;
    width: $sidebar-width;
    background-color: $sidebar-background-color;
    color: $sidebar-color;

    li {
        text-align: center;
        color: $sidebar-color !important;
    }
    li:hover {
        background-color: $topbar-background-color;
    }
    li.is-active {
        background-color: $topbar-background-color;
    }
}

/**
*  右侧page路由主体
*/
$mainview-background-color: $global-background-color;

/**
*  页底footer
*/
$footer-height: 40px;
$footer-background-color: $recovery-color;
$footer-pading-left: 30px;
$footer-font-size: 16px;
$footer-color: #292A27;


/**
*  登陆页
*/
$login-gradient1: #747363;
$login-gradient2: #5C6A06;










/*****  基础样式  ******/

// 动画




// 一个路由页
.page {
    padding: 15px 30px 0 30px;
    
    .page-title {
        overflow: hidden;
        margin: 20px;
        text-align: center;
        font-size: 24px;
        font-weight: bold;
    }
    
    .head {
        padding: 0 20px 10px 20px;
        border-bottom: 1px solid rgba(113, 91, 91, .5);
    }

}

// 组管理
.groups {
    overflow: hidden;

    .line {
        margin: 15px 0 !important;
    }

    .card {
        overflow: hidden;
        position: relative;
        height: 150px;
        background: rgba(21, 94, 102, .3);

        &:hover {
            cursor: pointer;
            background: rgba(168, 147, 28, 0.3);

            .delete {
                display: block;
            }
        }

        .name {
            padding: 10px 0;
            text-align: center;
            line-height: 30px;
            font-size: 20px;
        }

        .desc {
            display: block;
            padding: 0 10px;
            line-height: 22px;
            font-size: 16px;    
        }

        .delete {
            display: none;
            position: absolute;
            z-index: 100;
            top: 50%;
            transform: translate(-50%, -50%);
            right: 0;
            font-size: 30px;
            color: rgba(210, 32, 32, 1);  
        }
    }
}

